body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height:665px;
  background-image: url('media/img/fondo3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

 /*BOTON DE REDES*/
#btn-mas {
  display: none;
}
.btn-social {
  z-index: 999;
  align-self: right;
  bottom: 20px;
  right: 25px;
  position: fixed; /* posicion fija a la pantalla*/
}
.redes a, .btn-mas label {
  display: block; /*Mostrar en forma de pila*/
  text-decoration: none;
  background: #ffffff;
  color: rgb(48, 48, 48);
  width: 70px;
  height: 70px; /*debe ser el mismo valor de line-height*/
  line-height: 70px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease; /*Hacer la transición*/
}
.redes .fa-whatsapp:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(39, 196, 0);
  color: #ffffff;
}
.redes .fa-instagram:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(255, 0, 212);
  color: #ffffff;
}
.redes .fa-youtube:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(255, 0, 0);
  color: #ffffff;
}
.redes .fa-facebook:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(44, 100, 255);
  color: #ffffff;
}
.redes a {
  margin-bottom: -50px;
  opacity: 0;
  visibility: hidden;
}
#btn-mas:checked ~ .redes a {
  /*Cuando esta chekeado*/
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.btn-mas label {
  /*Ajustes del boton principal*/
  cursor: pointer;
  background: rgb(255, 166, 0);
  font-size: 35px;
}
#btn-mas:checked ~ .btn-mas label {
  /*Rotar el boton principañ*/
  transform: rotate(360deg);
  font-size: 25px;
}

.navbar-brand {
  padding: 10px;
  font-size: 16px;
}

.navbar-nav{
  /* Ha que ponerlos a la derecha de la pantalla */
  margin-left: 80px;
  padding: 10px;
}

.nav-link{
  border-radius: 15px;
  margin-left: 50px;
}

.nav-link:hover {
  background-color:rgb(255, 166, 0);
  transition: all 0.5s ease;
}

h2 {
  color:rgb(255, 166, 0);
}

section {
  padding: 60px 0;
}

#inicio {
  color: #333;
}

#cursos {
  color: #333;
}

#pago {
  color: #333;
}

#contacto {
  color: #333;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;  /*Indispensable*/
  height: 0;
  overflow: hidden;
}

.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.frame-light {
  text-align: center;
  margin: 0px 1.5em 2em;
  background-color: rgb(255, 255, 255);
  padding: 1.5em;
  border-radius: 1em; 
}

.frame-dark {
  color: white;
  text-align: center;
  margin: 0px 1.5em 2em;
  background-color: rgb(43, 43, 43);
  padding: 1.5em;
  border-radius: 1em; 
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}
.is-visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 992px) {
  .navbar-nav .nav-link {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  
}
